[submodule "components/freertos_cellular/src"]
	path = components/freertos_cellular/src
	url = https://github.com/imi415/FreeRTOS-Cellular-Interface.git
[submodule "components/freertos_cellular/ec800"]
	path = components/freertos_cellular/ec800
	url = https://github.com/imi415/FreeRTOS-Cellular-Interface-Reference-Quectel-EC800.git
[submodule "components/nl/src"]
	path = components/nl/src
	url = https://github.com/PuddingIndustries/GNSS_NL.git
[submodule "components/freertos_cellular/air780e"]
	path = components/freertos_cellular/air780e
	url = https://github.com/imi415/FreeRTOS-Cellular-Interface-Reference-Luat-Air780E.git
[submodule "components/multipart_parser/src"]
	path = components/multipart_parser/src
	url = https://github.com/imi415/multipart-parser-c.git
