CONFIG_IDF_TARGET="esp32s3"

# Flash selection
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_ota.csv"

# Debug Console
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Kernel
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y