menu "Application Specific Configuration"
    config APP_NETIF_LTE_RST_GPIO
        int "LTE module RST pin number"
        default 7
        help
            Select the pin number for LTE module.

    config APP_NETIF_LTE_TX_GPIO
        int "LTE module TX pin number"
        default 17
        help
            Select the pin number for LTE module.

    config APP_NETIF_LTE_RX_GPIO
        int "LTE module RX pin number"
        default 18
        help
            Select the pin number for LTE module.

endmenu
